- name: Setup SMB share
  become: true
  block:
    - name: Install samba requirements
      ansible.builtin.apt:
        name: samba
        state: present
        update_cache: true
        cache_valid_time: '{{ 3600 * 24 }}'
    - name: Creation smbusers group
      ansible.builtin.group:
        name: smbusers
        state: present
    - name: Create share users
      ansible.builtin.user:
        name: "{{ item.name }}"
        shell: "/sbin/nologin"
        append: true
        groups:
        - smbusers
        create_home: false
      loop:
        - name: '{{ data_buddy_smb_user }}'
    - name: Make sure dir exists
      ansible.builtin.file:
        path: '{{ data_buddy_smb_root }}'
        state: directory
        owner: root
        group: smbusers
        mode: "2775"
        setype: "samba_share_t"
    - name: Set SMB users' password
      register: smb_user_pass
      failed_when: "'failed' in smb_user_pass.stdout or smb_user_pass.rc != 0"
      ansible.builtin.shell:
        cmd: echo '{{ data_buddy_smb_pass }}' | smbpasswd -s -e -a data-buddy
    - name: Configure the samba share
      notify:
        - start_samba
      ansible.builtin.blockinfile:
        path: /etc/samba/smb.conf
        block: |
          [{{ data_buddy_share_name }}]
          path = {{ data_buddy_smb_root }}/
          server min protocol = SMB3
          guest ok = no
          guest only = no
          writable = yes
          browsable = yes
          valid users = @smbusers
          write list = @smbusers
    - name: Set SMB security settings to make Windows happy
      notify:
        - start_samba
      ansible.builtin.lineinfile:
        path: /etc/samba/smb.conf
        line: '{{ item }}'
        state: present
        insertbefore: '## Browsing/Identification ###'
      loop:
        - min protocol = SMB3
        - server signing = mandatory
