---
type: Handler
api_version: core/v2
metadata:
  name: influxdb
  namespace: default
  labels:
    sensu.io/workflow: sensu-flow
spec:
  command: >-
    sensu-influxdb-handler --addr ${INFLUXDB_ADDR} --org ${INFLUXDB_ORG}
    --bucket ${INFLUXDB_BUCKET} -t ${INFLUXDB_TOKEN}
  env_vars:
    - INFLUXDB_ADDR=http://influxdb:8086
    - INFLUXDB_ORG=sensu
    - INFLUXDB_BUCKET=sensu
    - INFLUXDB_TOKEN={{ sensu_backend__influx_admin_token }}
  filters: null
  handlers: null
  runtime_assets:
    - sensu/sensu-influxdb-handler:4.0.0
  timeout: 10
  type: pipe
