- name: Install plugin
  include_tasks: '{{ ansible_os_family }}.yml'

- name: Enable rtmp
  become: true
  block:
  - name: Add to config file
    notify: restart nginx service
    ansible.builtin.blockinfile:
      marker: "# {mark} ANSIBLE CONFIG -- rtmp server"
      dest: /etc/nginx/nginx.conf
      block: "{{ lookup('template', 'rtmp_site.j2') }}"

  - name: 'firewall: Enable rtmp port'
    ansible.posix.firewalld:
      immediate: yes
      port: 1935/tcp
      permanent: yes
      state: enabled
