[Unit]
Description="Run update-dnsmasq-blocklists.service 5min after boot and every 24 hours relative to activation time"

[Timer]
OnBootSec=5min
OnCalendar=* *-*-* 07:00:00
Unit=update-dnsmasq-blocklists.service

[Install]
WantedBy=multi-user.target