# based on https://www.twingate.com/docs/deploy-connector-with-docker-compose
services:
  twingate_connector:
    restart: always
    image: "twingate/connector:latest"
    environment:
      - TWINGATE_LOG_ANALYTICS=v2
      - TWINGATE_LOG_LEVEL=3
      - TWINGATE_NETWORK=${TWINGATE_NETWORK}
      - TWINGATE_ACCESS_TOKEN=${TWINGATE_ACCESS_TOKEN}
      - TWINGATE_REFRESH_TOKEN=${TWINGATE_REFRESH_TOKEN}
    {% if twingate_connector_host_network -%}
    network_mode: host
    {% endif -%}
    sysctls:
      net.ipv4.ping_group_range: "0 2147483647"
