rtmp {
    server {
        listen 1935;
        chunk_size 2048;

        application {{ multistream_application_name }} {
            {% for ip in multistream_server_allowed_publishers %}
            allow publish {{ ip }};
            {% endfor %}
            deny publish all;

            {% if multistream_server_allowed_play == 'all' %}
            allow play all;
            {% else %}
            {% for ip in multistream_server_allowed_play %}
            allow play {{ ip }};
            {% endfor %}
            {% endif %}


            live on;
            record off;

            {% for push in multistream_pushes %}
            push {{ push }};
            {% endfor %}

            {% for exec in multistream_execs %}
            exec {{ exec }};
            {% endfor %}
        }
    }
}