[Unit]
Description=Fail Over MultiStream Service
# Pulls in the online target and ensures this runs after it
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/multistream-update-ip-routes

[Install]
# Ensures the service starts during a normal multi-user boot
WantedBy=multi-user.target
