# /tmp/alpine-answers

# Keyboard & System Settings
KEYMAPOPTS="us us"
HOSTNAMEOPTS="alpine-node"
TIMEZONEOPTS="-z {{ diskless_alpine__timezone }}"
PROXYOPTS="none"

# Network Configuration
INTERFACESOPTS="auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp"
DNSOPTS="-c local"

# Package Repositories (automatically select fastest mirror)
APKREPOSOPTS="-1"

# SSH & Credentials
SSHDOPTS="openssh"
ROOTPASSWORD="{{ _diskless_alpine__root_password }}"
USEROPTS="-a -u -g wheel,audio,video -k https://github.com/mshafer1.keys pi"


# Automatically save packages to local cache
ERASE_DISKS="{{ diskless_alpine__disk }}"
APKCACHEOPTS="{{ diskless_alpine__disk_mount_point }}/cache"

# Diskless Installation Target
# -m data mounts the SD card partition for boot files, kernel, and APK cache
DISKOPTS="none"
# Specify where to store the configuration overlay (.apkovl)
# Tell setup-lbu to target the newly formatted label/device name directly
LBOOTOPTS="{{ diskless_alpine__disk_mount_point }}"
LBUOPTS="{{ diskless_alpine__partition_name }}"

# use chrony to enable ntp
NTPOPTS="chrony"
